@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Variable.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
}

* {
  font-family: "Inter";
}
